/* ------------ Title --------- */

.headshot {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}


body {
  font-family: Lato;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 7%;
}

.row {
  width: 100%;
}

#column1 {
  float: left;
  width: 47%;

}

#column2 {
  float: right;
  width: 47%;
}

.introtext {
  font-weight: 300;
}

.title {
  display: inline-block;
  text-align: center;
  font-weight: 400;
}

.work a {
  color: black;
}

.giveask {
  margin-bottom: 40px;
  display: inline-block;
}

/* ------------ Social Icons ---------- */

.social-icons {
  text-align: center;
  }

.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }

.social-icons li a {
  border-bottom: none;
  }

.social-icons li img {
  width:25px;
  height:25px;
  margin-right: 20px;
}


/* ------------ Twitterfeed --------- */

.twitterwidget {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}


.twitter-timeline {
  max-width: 800px;
  display: inline-block;
}


/* ---- MEDIUM EMBED -------
.feeds {
  width: 100%;
}

#twitter {
  float: left;
  width: 30%;

}

#medium {
  float: right;
  width: 30%;

  }



  #fm-medium-embed{
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
  }

  .fm-post-wrapper{
    display: inline-block;
    border-radius: 3px;
    width: 300px;
    padding: 15px;
    background: #fff;
    text-align: left;
    margin: 10px;
    min-height: 340px;
    border: 1px solid #bbb;
    box-shadow: 0 3px 15px rgba(0,0,0,0.25);
  }

  .fm-post-title{
    font-size: 20px;
    height: 25px;
    white-space: nowrap;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .fm-post-sub-title{
    min-height: 130px;
    line-height: 24px;
    color: #333;
  }

  .fm-medium-profile{
    margin-top: 10px;
    padding: 5px;
    display: block;
  }

  .fm-medium-profile a{
    display: inline-block;
    background: #fff;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #4285f4;
    box-shadow: 0 3px 15px rgba(0,0,0,0.15);

  }
  */
/* ------------ Responsive --------- */

@media only screen and (max-width: 767px)
{
    #column1, #column2
    {
        display: block;
        float: none;
        width: 100%;
        padding: 10px 0;
    }

}
